.vdgallery-image {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-bottom: .5rem;
    margin-right: .5rem;
}
.vdgallery-option {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.27);
    text-align: right;
    padding: .2rem;
    visibility: hidden;
}
.vdgallery-image:hover .vdgallery-option {
    visibility: visible;
}
.vdgallery-remove {
    color: #f00;
}
.vdgallery-shortcode span {
    background: #f0f0f0;
    display: inline-block;
    padding: .5rem 1rem;
    -moz-box-shadow: inset 0 0 5px #0000004f;
    -webkit-box-shadow: inset 0 0 5px #0000004f;
    box-shadow: inset 0 0 5px #0000004f;
    border-radius: .3rem;
    margin-left: 1rem;
    font-weight: bold;
}